body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a6a7f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: #7375eb;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 100%;
    max-width: 600px;
}


h1 {
    font-size: 30px;
    color: #000000;
}


textarea {
    width: 95%;
    height: 150px;
    margin: 0px;
    padding: 10px;
    border: 5px solid #d0e8f7;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}


button {
    background-color: #0f0c99;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}


button:hover {
    background-color: #0e0c70;
}


.resultados {
    margin-top: 20px;
    font-size: 18px;
}

.resultados span {
    font-weight: bold;
    color: #0a0872;
}
